<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
          <basicHttpBinding>
            <binding name="BasicHttpBinding_IYatMingService"  maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
              <readerQuotas maxArrayLength="1024000000"/>
            </binding>
          </basicHttpBinding>
          <netTcpBinding>
            <binding maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
              <security mode="None"></security>
            </binding>
          </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.0.144:80/YatMing/YatMingService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IYatMingService"
                contract="YatServer.IYatMingService" name="BasicHttpBinding_IYatMingService" />
          <endpoint name="push" address="net.tcp://192.168.0.144:4530" binding="netTcpBinding" contract="YatMing.Message.Contracts.IPushService"></endpoint>
        </client>
    </system.serviceModel>
</configuration>