<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
          <basicHttpBinding>
            <binding name="BasicHttpBinding_IYatMingService"  maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
              <readerQuotas maxArrayLength="1024000000"/>
            </binding>
          </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.0.144:80/YatMing/YatMingService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IYatMingService"
                contract="YatServer.IYatMingService" name="BasicHttpBinding_IYatMingService" />
        </client>
    </system.serviceModel>
</configuration>