<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding maxReceivedMessageSize="20971510" sendTimeout="00:15:00">
          <readerQuotas maxStringContentLength="20971520" maxArrayLength="20971520"/>
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service name="YatMing.Message.Service.PushService">
        <endpoint address="" binding="netTcpBinding"  contract="YatMing.Message.Contracts.IPushService"></endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://192.168.0.144:4530"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>
